@import '../color-palette.scss';

.main-event {
    margin: 0 auto;
    max-width: 75%;
    padding: 15px 0;
}

.calendar-wrapper {
    margin: 15px 0 30px 0;
}

.react-calendar {
    margin: 0 auto;
    width: 80%;

    .react-calendar__month-view__weekdays {
        color: $med-green;
        font-size: 20px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }

    .react-calendar__month-view__days__day {
        background-color: $white;
        border: 0;
    }

    .react-calendar__month-view__days__day:hover {
        background-color: $light-green;
        border: 0;
    }

    .react-calendar__month-view__days__day--neighboringMonth {
        background-color: $white;
        color: $slate-gray;
    }

    .react-calendar__navigation__next-button {
        background-color: $dark-green;
        border: 0px;
    }

    .react-calendar__navigation__next2-button {
        background-color: $dark-green;
        border: 0px;
    }

    .react-calendar__navigation__prev-button {
        background-color: $dark-green;
        border: 0px;
    }

    .react-calendar__navigation__prev2-button {
        background-color: $dark-green;
        border: 0px;
    }

    .react-calendar__navigation__label {
        background-color: $dark-green;
        border: 0px;
        color: $white;
        font-size: 25px;
    }

    .react-calendar__tile {
        height: 50px;
        width: 50px;
    }
}

.event-card {
    border: 3px solid $dark-green;
    border-radius: 15px;
    color: $dark-gray;
    padding: 10px;
    margin: 15px;

    .date-location-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 0 0 0;
    }

    .description-wrapper {
        margin: 15px;
    }

    .event-link {
        color: $dark-gray;
        text-decoration: none;
    }

    .event-link:hover {
        color: $light-green;
    }

    h1 {
        border-bottom: 3px solid $med-green;
        margin: 0;
    }

    .lettuce {
        height: 45px;
        padding: 0 10px 0 0;
        width: auto;
    }
}